<!--1b add ng-controller directive to div container -->
<div class="container" ng-controller='thisquestionController'>


  <div class="card">
  	<div class="card-content grey darken-1">
  		<span class="white-text">
    <h3>question: {{oneQuestion.name}}</h3>
    <p>context: {{oneQuestion.context}}</p>
    <p>created: {{oneQuestion.created | date:'MMMM d, yyyy - h:mm a'}}</p>
	</span>
    </div>
</div>


<!-- 
<div ng-repeat="answer in oneQuestion.answers | orderBy:'-like'">
	 <div class="card">
	 	<div class="card-content grey darken-4">
	 	<span class="white-text">
<input class="btn blue right" type="submit" value="likes: {{answer.like}}" ng-click="like(answer)"><h4>
 
<h3>answer: {{answer.answering}}</h3>
<p>supporting: {{answer.supporting}}</p>
<p>date: {{answer.created_date | date:'MMMM d, yyyy - h:mm a'}}</p>
<p>user: {{answer.username}}</p>
</span>
<div>
</div>
</div>
 -->

</div>
