<!--1b add ng-controller directive to div container -->
<div class="container" ng-controller='orderController'>

orders
{{orders}}
<!-- customers
{{customers}}
products
{{products}} -->

	<div class="row">
	  	 <div class="col s12"> 
	  	 	<h4>Add a new order</h4>
		    	<!--4 filter_name  orderBy -->
		    	<!--7 select existing customer name -->
		    	<div class="input-field col s12">
		    		
		    		<select class="browser-default" ng-model='newOrder._customer'>
		    		<option value="" disabled selected>Select Customer Name</option>
			       	<option ng-repeat="customer in customers" value="{{customer._id}}">{{customer.name}}</option>
			       	</select>

			       	<select class="browser-default" ng-model='newOrder.product'>
		    		<option value="" disabled selected>Select Product</option>
			       		<option ng-repeat="product in products" value={{product._id}}>{{product.name}}</option>​
			       	</select>

			       	<select class="browser-default" ng-model='newOrder.qty'>
		    		<option value="" disabled selected>Select QTY</option>
			       		<option ng-repeat="product in products ">{{product.qty}}</option>​
			       	</select>

			       	<input class= "btn green" type="submit" value="Submit" ng-click='addOrder()'>
		   		</div>

	
		</div>
		</div>


<!-- start
search and display orders
 -->
	  	 <div class="col s8"> 
	  	 	<!--4 filter_name -->
	  	 	<label for="search1">Search:</label>
	  	 	<input id="search1" type="text" ng-model="filter_name">
		<!-- 
		<table>
			<tr ng-repeat="product in products">
				<td><span ng-bind="product.name"></span></td>
				<td><span ng-bind="product.name"></span></td>
			</tr>
		</table>	 -->

	  	<div ng-repeat="order in orders | filter:filter_name | orderBy:'-created'" class="col m6">
	  		<div class="card ">
	  			<div class="card-content grey darken-1">
	  				<span class="white-text">
	  					<p>
	  						<a href='#orderinfo/{{order._id}}'>	
	  							<button class='b_info'>Order Info</button>
	  						</a>

	  						<button ng-click='delete(order)'>Delete</button>
	  						<br>
	  						<input class="btn red right" type="submit" value="Delete" ng-click="delete(order)">
	  					</p>	
	  					<!--5b associate customer info in orders -->	
	  					<h4>customer: {{order._customer.name}}</h4>
	  					<h4>product: {{order.product.name}}</h4>
	  					<h4>qty: {{order.qty}}</h4>
	  					<h4>created: {{order.created}}</h4>
	  					
	  					<!-- <p>date: {{product.created | date:'MMMM d, yyyy - h:mm a'}}</p>
 -->
	  				</span>
	  			</div>
	  		</div>
	  	</div>

		</div>
		</div>

<!-- end
search and display orders
 -->



</div>
